{% load humanize %}
<div class="card p-3">
        <h5 class="mb-3">PRICE DETAILS</h5>
        <div class="d-flex justify-content-between mb-2">
          <span>Price ({{ cart_items|length }} item{% if cart_items|length > 1 %}s{% endif %})</span>
          <span>₹{{ total_original|intcomma }}</span>
        </div>
        <div class="d-flex justify-content-between text-success mb-2">
          <span>Discount</span>
          <span>-₹{{ discount|intcomma }}</span>
        </div>
        <div class="d-flex justify-content-between mb-2">
          <span>Total Amount</span>
          <span>₹{{ total_amount|intcomma }}</span>
        </div>
        <div class="d-flex justify-content-between mb-2">
          <span>Delivery Charges</span>
          {% if delivery == "Free Delivery" %}
          <span class="text-success">{{delivery}}</span>
          {% else %}
          <span class="text-success">₹{{delivery}}</span>
          
          {% endif %}
        </div>
        <hr>
        <div class="d-flex justify-content-between fw-bold mb-2">
          <span>Grand Total</span>
          <span>₹{{ grand_total|intcomma }}</span>
        </div>
        <p class="text-success small">You will save ₹{{ discount|intcomma }} on this order</p>
        {% if cart_items|length > 0 %}
        <button class="btn btn-dark btn-lg w-100 mt-2" onclick="window.location='{% url 'checkout' %}'">Proceed to Checkout</button>
        {% endif %}
    </div>
