{% extends 'main.html' %}
{% load humanize %}
{% block content %}
{% load static %}
<script src="https://unpkg.com/@lottiefiles/lottie-player@1.5.7/dist/lottie-player.js"></script>


<style>
	input[type=number]::-webkit-inner-spin-button,
	input[type=number]::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
	
	#payment-loader {
		
		 position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 9999;
    display: none;
    justify-content: center;
    align-items: center;
	}
</style>
 <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
 <div id="payment-loader">
 <lottie-player 
    src="{% static 'images/payment2.json' %}"
    background="transparent"
    speed="1"
    style="width: 300px; height: 300px;"
    loop
    autoplay
	>
</lottie-player>
</div>
<!-- Start Hero Section -->
<div class="hero">
	<div class="container">
		<div class="row justify-content-between">
			<div class="col-lg-5">
				<div class="intro-excerpt">
					<h1>Checkout</h1>
				</div>
			</div>
			<div class="col-lg-7">

			</div>
		</div>
	</div>
</div>
<!-- End Hero Section -->


<div class="untree_co-section">
	<!-- template.html -->


	<div class="container">
		<div class="row mb-5">
			<div class="col-md-12">
				{% if not user.is_authenticated %}
				<div class="border p-4 rounded" role="alert">
					Returning customer? <a href="{% url 'loginpage' %}">Click here</a> to login
				</div>
				{% endif %}
			</div>
		</div>
		{% if form.errors %}
		<div class="error-box">
			<p>First</p>
			{{ form.errors }}
		</div>
		{% endif %}

		{% if shipping.errors %}
		<div class="error-box">
			<p>Second</p>
			{{ shipping.errors }}
		</div>
		{% endif %}

		<form method="post" id="checkout-form">
			{% csrf_token %}
			<div class="row">
				<div class="col-md-6 mb-5 mb-md-0">
					<h2 class="h3 mb-3 text-black">Billing Details</h2>
					<div class="p-3 p-lg-5 border bg-white">
						<div class="form-group">
							<label for="country" class="text-black">Country <span class="text-danger">*</span></label>
							<select class="form-control" name="country" id="country" required>
								<option value="1" hidden>Select a country</option>
								<option value="{{ form.country.value|default:'' }}" selected>India</option>
								<!--
						<option value="3">Algeria</option>    
		                <option value="4">Afghanistan</option>    
		                <option value="5">Ghana</option>    
		                <option value="6">Albania</option>    
		                <option value="7">Bahrain</option>    
		                <option value="8">Colombia</option>    
		                <option value="9">Dominican Republic</option>
						-->
							</select>
						</div>
						<div class="form-group row">
							<div class="col-md-6">
								<label for="firstname" class="text-black">First Name <span
										class="text-danger">*</span></label>
								<input type="text" class="form-control" id="firstname" name="firstname"
									value="{{ form.firstname.value|default:'' }}" required>
							</div>
							<div class="col-md-6">
								<label for="lastname" class="text-black">Last Name <span
										class="text-danger">*</span></label>
								<input type="text" class="form-control" id="lastname" name="lastname"
									value="{{ form.lastname.value|default:'' }}" required>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-md-12">
								<label for="address" class="text-black">Address <span
										class="text-danger">*</span></label>
								<input type="text" class="form-control" required id="address" name="address"
									placeholder="Street address" value="{{ form.address.value|default:'' }}">
							</div>
						</div>

						<div class="form-group mt-3">
							<input type="text" class="form-control" required id="street" name="street"
								placeholder="Apartment, suite, unit etc. (optional)"
								value="{{ form.street.value|default:'' }}">
						</div>

						<div class="form-group row">
							<div class="col-md-6">
								<label for="state" class="text-black">State / Country <span
										class="text-danger">*</span></label>
								<input type="text" class="form-control" required id="state" name="state"
									value="{{ form.state.value|default:'' }}">
							</div>
							<div class="col-md-6">
								<label for="city" class="text-black">City<span class="text-danger">*</span></label>
								<input type="text" class="form-control" required id="city" name="city"
									value="{{ form.city.value|default:'' }}">
							</div>
							<div class="col-md-6">
								<label for="pincode" class="text-black">Postal / Zip <span
										class="text-danger">*</span></label>
								<input type="number" class="form-control" required id="pincode" name="pincode"
									value="{{ form.pincode.value|default:'' }}">
							</div>
						</div>

						<div class="form-group row mb-5">
							<div class="col-md-6">
								<label for="email" class="text-black">Email Address <span
										class="text-danger">*</span></label>
								<input type="email" class="form-control" id="email" required name="email"
									value="{{ form.email.value|default:'' }}">
							</div>
							<div class="col-md-6">
								<label for="phone" class="text-black">Phone <span class="text-danger">*</span></label>
								<input type="number" class="form-control" id="phone" required name="phone"
									placeholder="Phone Number" value="{{ form.phone.value|default:'' }}">
							</div>
						</div>

						<!--{% if not user.is_authenticated %}
						<div class="form-group">
							<label for="c_create_account" class="text-black" data-bs-toggle="collapse"
								href="#create_an_account" role="button" aria-expanded="false"
								aria-controls="create_an_account"><input type="checkbox" value="1"
									id="c_create_account"> Create an account?</label>
							<div class="collapse" id="create_an_account">
								<div class="py-2 mb-4">
									<p class="mb-3">Create an account by entering the information below. If you are a
										returning customer please login at the top of the page.</p>
									<div class="form-group">
										<label for="c_account_password" class="text-black">Account Password</label>
										<input type="password" class="form-control" id="c_account_password"
											name="c_account_password" placeholder="">
									</div>
								</div>
							</div>
						</div>
						{% endif %}-->




						<!--
		            <div class="form-group">
		              <label for="c_order_notes" class="text-black">Order Notes</label>
		              <textarea name="c_order_notes" id="c_order_notes" cols="30" rows="5" class="form-control" placeholder="Write your notes here..."></textarea>
		            </div>
					-->

						<div class="form-group">
							<label for="c_ship_different_address" class="text-black" data-bs-toggle="collapse"
								href="#ship_different_address" role="button" aria-expanded="false"
								aria-controls="ship_different_address" id="c_ship_different_address_check"><input type="checkbox" value="1" onclick="checkclick()"
									id="c_ship_different_address"> Ship To A Different Address?</label>
							<div class="collapse" id="ship_different_address">
								<div class="py-2">

									<div class="form-group">
										<label for="c_diff_country" class="text-black">Country <span
												class="text-danger">*</span></label>
										<select id="c_diff_country" class="form-control ship-control">
											<option value="1">India</option>
											<!--<option value="2">bangladesh</option>    
		                      <option value="3">Algeria</option>    
		                      <option value="4">Afghanistan</option>    
		                      <option value="5">Ghana</option>    
		                      <option value="6">Albania</option>    
		                      <option value="7">Bahrain</option>    
		                      <option value="8">Colombia</option>    
		                      <option value="9">Dominican Republic</option>  -->
										</select>
									</div>


									<div class="form-group row">
										<div class="col-md-6">
											<label for="ship_firstname" class="text-black">First Name <span
													class="text-danger">*</span></label>
											<input type="text" class="form-control ship-control" id="ship_firstname"
												name="ship_firstname"
												value="{{ shipping.ship_firstname.value|default:'' }}">
										</div>
										<div class="col-md-6">
											<label for="ship_lastname" class="text-black">Last Name <span
													class="text-danger">*</span></label>
											<input type="text" class="form-control ship-control" id="ship_lastname"
												name="ship_lastname"
												value="{{ shipping.ship_lastname.value|default:'' }}">
										</div>
									</div>

									<div class="form-group row  mb-3">
										<div class="col-md-12">
											<label for="ship_address" class="text-black">Address <span
													class="text-danger">*</span></label>
											<input type="text" class="form-control ship-control" id="ship_address"
												name="ship_address" placeholder="Street address"
												value="{{ shipping.ship_address.value|default:'' }}">
										</div>
									</div>


									<div class="form-group">
										<input type="text" class="form-control ship-control"
											placeholder="Apartment, suite, unit etc. (optional)" id="ship_street"
											name="ship_street" value="{{ shipping.ship_street.value|default:'' }}">
									</div>

									<div class="form-group row">
										<div class="col-md-6">
											<label for="ship_state" class="text-black">State / Country <span
													class="text-danger">*</span></label>
											<input type="text" class="form-control ship-control" id="ship_state" name="ship_state"
												value="{{ shipping.ship_state.value|default:'' }}">
										</div>
										<div class="col-md-6">
											<label for="ship_city" class="text-black">City<span
													class="text-danger">*</span></label>
											<input type="text" class="form-control ship-control" id="ship_city" name="ship_city"
												value="{{ shipping.ship_city.value|default:'' }}">
										</div>
										<div class="col-md-6">
											<label for="ship_pincode" class="text-black">Postal / Zip <span
													class="text-danger">*</span></label>
											<input type="text" class="form-control ship-control" id="ship_pincode"
												name="ship_pincode"
												value="{{ shipping.ship_pincode.value|default:'' }}">
										</div>
									</div>

									<div class="form-group row mb-5">
										<div class="col-md-6">
											<label for="ship_email" class="text-black">Email Address <span
													class="text-danger">*</span></label>
											<input type="email" class="form-control ship-control" id="ship_email" name="ship_email"
												value="{{ shipping.ship_email.value|default:'' }}">
										</div>
										<div class="col-md-6">
											<label for="ship_phone" class="text-black">Phone <span
													class="text-danger">*</span></label>
											<input type="text" class="form-control ship-control" id="ship_phone" name="ship_phone"
												placeholder="Phone Number"
												value="{{ shipping.ship_phone.value|default:'' }}">
										</div>
									</div>

								</div>

							</div>
						</div>
					</div>

				</div>

				<div class="col-md-6">

					<!--
		          <div class="row mb-5">
		            <div class="col-md-12">
		              <h2 class="h3 mb-3 text-black">Coupon Code</h2>
		              <div class="p-3 p-lg-5 border bg-white">

		                <label for="c_code" class="text-black mb-3">Enter your coupon code if you have one</label>
		                <div class="input-group w-75 couponcode-wrap">
		                  <input type="text" class="form-control me-2" id="c_code" placeholder="Coupon Code" aria-label="Coupon Code" aria-describedby="button-addon2">
		                  <div class="input-group-append">
		                    <button class="btn btn-black btn-sm" type="button" id="button-addon2">Apply</button>
		                  </div>
		                </div>

		              </div>
		            </div>
		          </div>
				-->

					{% if page == "cart_checkout" %}
					<div class="row mb-5">
						<div class="col-md-12">
							<h2 class="h3 mb-3 text-black">Your Order</h2>
							<div class="p-3 p-lg-5 border bg-white">
								<table class="table site-block-order-table mb-5">
									<thead>
										<th>Product</th>
										<th>Total</th>
									</thead>
									<tbody>
										{% for item in cart_items %}
										<tr>
											<td>{{item.product.name}} <strong class="mx-2">x</strong> {{item.quantity}}
											</td>
											<td>₹{{item.total_cost|intcomma}}</td>
										</tr>
										{% endfor %}
										<tr>
											<td class="text-black font-weight-bold"><strong>Order Total</strong></td>
											<td class="text-black font-weight-bold">
												<strong>₹{{total_cost|intcomma}}</strong>
											</td>
										</tr>
										{% if shipping_cost == "Free Shipping" %}
										<tr>
											<td class="text-black font-weight-bold"><strong>Shipping Cost</strong></td>
											<td class="text-black font-weight-bold">
												<strong>{{shipping_cost|intcomma}}</strong>
											</td>
										</tr>
										{% else %}
										<tr>
											<td class="text-black font-weight-bold"><strong>Shipping Cost</strong></td>
											<td class="text-black font-weight-bold">
												<strong>₹{{shipping_cost|intcomma}}</strong>
											</td>
										</tr>
										{% endif %}
										<tr>
											<td class="text-black font-weight-bold"><strong>Grand Total</strong></td>
											<td class="text-black font-weight-bold">
												<strong>₹{{grand_total|intcomma}}</strong>
											</td>
										</tr>
									</tbody>
								</table>



								


								<div class="border p-3 mb-3">
									<h3 class="h6 mb-0"><a class="d-block" style="text-decoration: none; color: red;">Free shipping above ₹49,999</a></h3>
								</div>
								<div class="border p-3 mb-3">
									<h3 class="h6 mb-0"><a class="d-block"
											
											 style="text-decoration: none;">Payment Method</a></h3>

									
										<div class="py-2">
											<div class="border p-3 mb-3">
									
										<div class="py-2" style="display: flex; flex-wrap: wrap;
    align-content: center;">

											<input type="radio" checked>
											<label style="font-weight: bold; margin-left: 10px;">RazorPay	</label>
										<span style="margin-left: auto;">
													<img src="{% static 'images/rupay.jpg' %}" alt="RuPay" height="32">
													<img src="{% static 'images/visa.jpg' %}" alt="Visa" height="32">
                    <img src="{% static 'images/mastercard.jpg' %}" alt="MasterCard" height="32">
                    <img src="{% static 'images/upi1.jpg' %}" alt="UPI" height="32">
                    <img src="{% static 'images/wallet.jpg' %}" alt="Wallet" height="32">
											</span>
									</div>
								</div>
									</div>
								</div>

								



								<div class="form-group">
									<button class="btn btn-black btn-lg py-3 btn-block" type="submit">Place
										Order</button>
								</div>

							</div>
						</div>
					</div>
					{% else %}
					<div class="row mb-5">
						<div class="col-md-12">
							<h2 class="h3 mb-3 text-black">Your Order</h2>
							<div class="p-3 p-lg-5 border bg-white">
								<table class="table site-block-order-table mb-5">
									<thead>
										<th>Product</th>
										<th>Total</th>
									</thead>
									<tbody>
										<tr>
											<td>{{product.name}} <strong class="mx-2">x</strong> {{quantity}}</td>
											<td>₹{{total_product_cost|intcomma}}</td>
										</tr>
										{% if shipping_cost == "Free Shipping" %}
										<tr>
											<td class="text-black font-weight-bold"><strong>Shipping Cost</strong></td>
											<td class="text-black font-weight-bold">
												<strong>{{shipping_cost|intcomma}}</strong>
											</td>
										</tr>
										{% else %}
										<tr>
											<td class="text-black font-weight-bold"><strong>Shipping Cost</strong></td>
											<td class="text-black font-weight-bold">
												<strong>₹{{shipping_cost|intcomma}}</strong>
											</td>
										</tr>
										{% endif %}
										<tr>
											<td class="text-black font-weight-bold"><strong>Order Total</strong></td>
											<td class="text-black font-weight-bold">
												<strong>₹{{total_cost|intcomma}}</strong>
											</td>
										</tr>
									</tbody>
								</table>

								<div class="border p-3 mb-3">
									<h3 class="h6 mb-0"><a class="d-block" style="text-decoration: none; color: red;">Free shipping above ₹49,999</a></h3>
								</div>
								<div class="border p-3 mb-3">
									<h3 class="h6 mb-0"><a class="d-block"
											
											 style="text-decoration: none;">Payment Method</a></h3>

									
										<div class="py-2">
											<div class="border p-3 mb-3">
									
										<div class="py-2" style="display: flex; flex-wrap: wrap;
    align-content: center;">

											<input type="radio" checked>
											<label style="font-weight: bold; margin-left: 10px;">RazorPay	</label>
										<span style="margin-left: auto;">
													<img src="{% static 'images/rupay.jpg' %}" alt="RuPay" height="32">
													<img src="{% static 'images/visa.jpg' %}" alt="Visa" height="32">
                    <img src="{% static 'images/mastercard.jpg' %}" alt="MasterCard" height="32">
                    <img src="{% static 'images/upi1.jpg' %}" alt="UPI" height="32">
                    <img src="{% static 'images/wallet.jpg' %}" alt="Wallet" height="32">
											</span>
									</div>
								</div>
									</div>
								</div>


								<div class="form-group">
									<button class="btn btn-black btn-lg py-3 btn-block" type="submit">Place
										Order</button>

								</div>

							</div>
						</div>
					</div>
					{% endif %}
				</div>
			</div>
		</form>
	</div>
</div>

<script>
	function checkclick() {
		const checkbox = document.getElementById("c_ship_different_address_check")
		const checked = checkbox.getAttribute("aria-expanded")
		if (checked === "true") {
			const required_fields = document.getElementsByClassName("ship-control")
			for (let index = 0; index < required_fields.length; index++) {
				required_fields[index].setAttribute("required", "")
			}
		} else if (checked === "false") {
			const required_fields = document.getElementsByClassName("ship-control")
			for (let index = 0; index < required_fields.length; index++) {
				required_fields[index].removeAttribute("required")
			}
		}
	}


document.addEventListener('DOMContentLoaded', function (){
	const page = "{{page}}";
	const product = "{{product.id}}";
	const qty = "{{quantity}}";
	const total_product_cost = "{{total_product_cost}}"
	const cartcreated = "{{cartcreated.id}}"
	let url = "";
	const loader = document.getElementById("payment-loader");
	const form =  document.getElementById("checkout-form");
	if (page == "cart_checkout") {
		url = `/createorder/?page=${page}&cartcreated=${cartcreated}` 
	} else if (page == "buy_checkout") {
		url = `/createorder/?page=${page}&product=${product}&quantity=${qty}&total_product_cost=${total_product_cost}`
	}
	form.addEventListener('submit', function (event) {
		
		event.preventDefault();
		const formData = new FormData(form);
		fetch(url, {
			method:'POST',
      headers: {
        'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value,
      },
	  body:formData
    })
      .then(response => response.json())
      .then(
		data => {
			var options = {
      key: data.razorpay_merchant_key, 
      amount: data.razorpay_amount, 
      currency: data.currency,
      name: "Module Furnitures", 
      order_id: data.razorpay_order_id, 
      callback_url: data.callback_url,
	  order_no: data.orderno,
	  newcartcreated :cartcreated,
	  prefill : {
		name : data.name,
		email : data.email,
		contact: data.phone
	  }
    }
	var rzp1 = new Razorpay(options);
	loader.style.display = "flex";
	setTimeout(() => {
		loader.style.display = "none";
		rzp1.open();
	}, 2000)
	

		}
		
	  )
	})
})
</script>


{% endblock content %}