{% extends 'main.html' %}
{% block content %}
{% load static %}
{% load humanize %}
{% load dict_extras %}
<style>
	/* Smooth transition for sliding */
    .carousel-inner {
      transition: transform 0.5s ease-in-out;
    }
	.hide-on-mobile {
		flex: 1; padding: 10px; justify-content: flex-start; align-items: center; display: flex; max-width: 100%;
	}
  .slider-parent {
    flex: 1; padding: 10px; justify-content: flex-end; align-items: center; display: flex; max-width: 100%;
  }
  .mobile-offer{
	padding-top: 10px;
  }
  @media screen and (max-width:764px){
	.mobile-offer {
		padding-top: 0px;
		height: 80px;
	}
  
  button.scroll-btn.left.scroll-hide-mobile {
        display: none;
  }
  button.scroll-btn.right.scroll-hide-mobile {
    display: none;
  }
  }
	@media (max-width: 904px) {
    .hide-on-mobile {
      display: none;
    }
    .offer-slider {
      max-height: 105px;
    }
    .slider-parent {
      justify-content: center;
    }
  }
  .offer-slider-body {
	background-color: white; 
	display: flex; 
	align-items: center;  
	gap: 20px; flex: 1;
	padding: 10px 10px;
  }
  @media screen and (max-width: 412px) {
   .offer-slider-body {
    padding: 0;
  }
  .sale-logo {
	display: none;
  }
}
</style>
		<!-- Start Hero Section -->
<!-- Start Hero Section -->




<div id="heroCarousel" class="carousel slide carousel-fade position-relative" 
     data-bs-ride="carousel" data-bs-interval="2500" style=" overflow: hidden;">

  <!-- Carousel Items -->
  <div class="carousel-inner" >
	 <div class="carousel-indicators">
    <button type="button" data-bs-target="#heroCarousel" data-bs-slide-to="0" class="active"></button>
    <button type="button" data-bs-target="#heroCarousel" data-bs-slide-to="1"></button>
    <button type="button" data-bs-target="#heroCarousel" data-bs-slide-to="2"></button>
  </div>

    <!-- Slide 1 -->
    <div class="carousel-item active">
      <a href="{% url 'category' cat_name='sofas-seating' %}">
      <img src="{% static 'images/hero-carousel1.webp' %}" 
           class="d-block w-100 h-100" 
           style="object-fit: cover;" 
           alt="Banner 1">
      </a>
    </div>

    <!-- Slide 2 -->
    <div class="carousel-item">
      <a href="{% url 'category' cat_name='kitchen-dining-furniture' %}">
      <img src="{% static 'images/hero-carousel2.webp' %}" 
           class="d-block w-100 h-100" 
           style="object-fit: cover;" 
           alt="Banner 2"></a>
    </div>

    <!-- Slide 3 -->
    <div class="carousel-item">
      <a href="{% url 'category' cat_name='beds-side-tables' %}">
      <img src="{% static 'images/hero-carousel3.webp' %}" 
           class="d-block w-100 h-100" 
           style="object-fit: cover;" 
           alt="Banner 3"></a>
    </div>
  </div>
  <!-- Controls -->
  <button class="carousel-control-prev" type="button" data-bs-target="#heroCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#heroCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
  </button>
</div>

<style>
  .offer-slider {
    background-color: wheat;
    display: flex;
    overflow: hidden;
    border-radius: 20px;
    flex: 1;
    max-width: 587.862px;
    max-height: 125px;
  }
  .sale-logo {
    color: transparent; 
    align-self: center;
    padding: 10px;
    width:120px;
    height:125px
  }
  
  @media (max-width: 600px) {
    .offer-slider {
      max-height: 105px;
    }
    .sale-logo {
      padding: 20px;
    }
  }
</style>
<div style="display: flex; background-color: #D9D9D9; flex-wrap: wrap;">
	<div class="slider-parent">
		<div class="offer-slider"> 
				<img class="sale-logo" alt="why-wakefit" loading="lazy"  src="{% static 'images/sale.png' %}">
				<div class="offer-slider-body">
<div class="tw-relative tw-w-full tw-max-w-xl tw-mx-auto mobile-offer" role="region" aria-roledescription="carousel">
  <div class="tw-overflow-hidden">
    <div id="carouselInner" class="tw-flex tw-transition-transform tw-duration-500">

      <!-- Slide 1 -->
      <div role="group" aria-roledescription="slide" class="tw-w-full tw-shrink-0 tw-grow-0 tw-p-3">
        <div class="tw-flex tw-items-center tw-gap-3">
          <div class="tw-flex tw-gap-2">
            <img alt="HDFC logo"
              class="tw-h-10 tw-w-auto tw-rounded-md tw-object-contain"
              src="https://ik.imagekit.io/2xkwa8s1i/bank-logo/HDFC-logo.png?tr=w-96">
          </div>
          <div class="tw-flex tw-flex-col tw-text-start tw-leading-tight">
            <div class="tw-flex tw-items-center tw-gap-1">
              <p class="tw-text-lg tw-font-bold tw-text-[#129C80]" style="margin-bottom: 5px;">FLAT 11% OFF</p>
            </div>
            <p class="tw-text-xs tw-text-black">Save up to ₹1,850 with HDFC Bank</p>
          </div>
        </div>
      </div>

      <!-- Slide 2 -->
      <div role="group" aria-roledescription="slide" class="tw-w-full tw-shrink-0 tw-grow-0 tw-p-3">
        <div class="tw-flex tw-items-center tw-gap-3">
          <div class="tw-flex tw-gap-2">
            <img alt="IDFC logo"
              class="tw-h-10 tw-w-auto tw-rounded-md tw-object-contain"
              src="https://ik.imagekit.io/2xkwa8s1i/bank-logo/idfc-logo.png?tr=w-96">
            <img alt="AU Small logo"
              class="tw-h-10 tw-w-auto tw-rounded-md tw-object-contain"
              src="https://ik.imagekit.io/2xkwa8s1i/bank-logo/AUSmall-logo.png?tr=w-96">
          </div>
          <div class="tw-flex tw-flex-col tw-text-start tw-leading-tight">
            <div class="tw-flex tw-items-center tw-gap-1">
              <p class="tw-text-lg tw-font-bold tw-text-[#129C80]" style="margin-bottom: 5px;">FLAT 11% OFF</p>
            </div>
            <p class="tw-text-xs tw-text-black">Valid for IDFC & AU Small Finance Bank</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>



				</div>
			</div>
	</div>

	<div class="hide-on-mobile">
		
			<div class="" style="background-color: wheat; display: flex; overflow: hidden;  border-radius: 20px;" > 
				<img alt="why-wakefit" loading="lazy" width="120" height="125" src="{% static 'images/why-module.png' %}" style="color: transparent; display: flex; align-self: center;">
				<div class="" style=" display: flex; background-color: white; align-items: center;  gap: 20px;
  padding: 10px 20px; padding-bottom: 0px;">
				<button class="items-center justify-center gap-y-1.5 rounded-sm min-w-0" style="border: none;
  background: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;   /* stack icon + text */
  align-items: center;
  justify-content: center;
  cursor: pointer;">
				<img alt="why-wakefit" loading="lazy" width="42" height="43" src="{% static 'images/truck.svg' %}" style="color: transparent; display: flex; align-self: center;">
				<p class="line-clamp-2 self-start text-center text-[10px] not-italic text-[#7D7E7F] md:text-[0.813rem] lg:text-sm">Fast Shipping</p>
				</button>
				<button class="items-center justify-center gap-y-1.5 rounded-sm min-w-0" style="border: none;
  background: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;   /* stack icon + text */
  align-items: center;
  justify-content: center;
  cursor: pointer;">
				<img alt="why-wakefit" loading="lazy" width="42" height="42" src="{% static 'images/support.svg' %}" style="color: transparent;">
				<p class="line-clamp-2 self-start text-center text-[10px] not-italic text-[#7D7E7F] md:text-[0.813rem] lg:text-sm">24/7 Support</p>
				</button>
				<button class="items-center justify-center gap-y-1.5 rounded-sm min-w-0" style="border: none;
  background: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;   /* stack icon + text */
  align-items: center;
  justify-content: center;
  cursor: pointer;">
				<img alt="why-wakefit" loading="lazy" width="42" height="42" src="{% static 'images/return.svg' %}" style="color: transparent;">
				<p class="line-clamp-2 self-start text-center text-[10px] not-italic text-[#7D7E7F] md:text-[0.813rem] lg:text-sm">Easy Returns</p>
				</button>
				<button class="items-center justify-center gap-y-1.5 rounded-sm min-w-0" style="border: none;
  background: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;   /* stack icon + text */
  align-items: center;
  justify-content: center;
  cursor: pointer;">
				<img alt="why-wakefit" loading="lazy" width="42" height="42" src="{% static 'images/bag.svg' %}" style="color: transparent;">
				<p class="line-clamp-2 self-start text-center text-[10px] not-italic text-[#7D7E7F] md:text-[0.813rem] lg:text-sm">Easy Shopping</p>
				</button>
				</div>
			</div>
		
	</div>
</div>


<!-- End Hero Section -->




<style>
	.categories-section {
  text-align: center;
  padding: 40px 3px 20px;
}

.section-title {
  font-size: 2rem;
  margin-bottom: 30px;
  font-weight: 600;
}

.cat-grid {
  display: grid;

    grid-template-columns: repeat(3,minmax(0,1fr));

  gap: 10px;
  justify-items: center;
  padding: 5px;
}
    grid-template-columns: repeat(6,minmax(0,1fr));

.cat-card {
  width: 180px;                 /* adjust size as needed */
  text-align: center;
}



@media screen and (min-width:764px) {
    .image-box {
  position: relative;
      /* similar to dotted border in screenshot */
  border-radius: 10px;
  overflow: hidden;
  height: 180px;  
  width: 200px;           /* makes all cards uniform */
}
  }


@media screen and (max-width:764px) {
    .image-box {
  position: relative;
      /* similar to dotted border in screenshot */
  border-radius: 10px;
  overflow: hidden;
  height: 140px;               /* makes all cards uniform */
}
  }

.image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;             /* fill box while keeping aspect ratio */
}


.discount-badge {
    border-bottom-left-radius: 10px;
    /* padding-right: 10px; */
    position: absolute;
    /* bottom: 140px; */
    top: 0;
    right: 0;
    /* left: 140px; */
    background: wheat;
    opacity: 0.8;
    color: #fff;
    /* border-bottom-left-radius: 80px; */
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    font-size: 0.75rem;
    font-weight: 600;
    padding: 6px 10px;
    line-height: 1.2;
}

.cat-label {
  margin-top: 10px;
  font-size: 1rem;
  font-weight: 500;
  color: #333;
}

@media (min-width: 1024px) {
    .cat-grid {
        grid-template-columns: repeat(6, minmax(0, 1fr));
        gap: 30px;
        padding: 50px;
    }
    .categories-section {
      padding: 40px 20px;
    }
}

</style> 

<style>
  .iwishAddWrap {
    box-shadow: 0px 2px 10px rgb(222 0 0 / 20%);
  }

</style>
  </div>

<style>
  .customer-choice {
    display: flex;
    align-content: center;
    justify-content: space-around;
    background-color: #d4cfc0;
  }
  .choice-image {
    width: 120px; 
    height: 120px;
  }
  .choice-text {
    text-align: center;
  }
  @media screen and (max-width:764px){
	.choice-image {
		width: 90px; 
    height: 90px;
	}
}
</style>



<div class="categories-section">
  <h2 class="section-title">Shop By Categories</h2>

  <div class="cat-grid">
    {% for category in categories %}
    <a href="{% url 'category' cat_name=category.slug %}" style="text-decoration: none;">
    <div class="cat-card">
      <div class="image-box">
        <img src="{{category.img.url}}" alt="{{category.name}}">
        
      </div>
      <p class="cat-label">{{category.name}}</p>
    </div>
    </a>
    {% endfor %}


    <!-- Repeat for all categories -->
  </div>
</div>


<style>
.new-launch {
  background-color: #FDEEC6;
  padding: 40px 20px;
}

.launch-title {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 30px;
}

.scroll-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.scroll-products {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 0 20px;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  padding: 0 40px;
  scroll-behavior: smooth;
}

.scroll-products::-webkit-scrollbar {
  display: none;
}

.launch-card {
  width: 238px;
  padding: 5px;
  flex: 0 0 auto;
}

/* Scroll Buttons */
.scroll-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  font-size: 1.5rem;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
  z-index: 10;
  opacity: 0.8;
}

.scroll-btn:hover {
  opacity: 1;
  background: #f7f7f7;
}

.scroll-btn.left {
  left: 10px;
}

.scroll-btn.right {
  right: 10px;
}
</style>


<!--New Launches-->
<div class="new-launch">
  <div class="launch-title">New Launches</div>

  <div class="scroll-wrapper">
    <button class="scroll-btn left scroll-hide-mobile" onclick="scrollProducts(-1)">&#10094;</button>

    <div class="scroll-products" id="scrollProducts">
      {% include "furni/new_launches.html" with products=products wish_items=wish_items %}
    </div>

    <button class="scroll-btn right scroll-hide-mobile" onclick="scrollProducts(1)">&#10095;</button>
  </div>
</div>




		<!-- 
		<div class="why-choose-section">
			<div class="container">
				
				<p>{{usersession}}</p>
				<div class="row my-5">
					<div class="col-6 col-md-6 col-lg-3 mb-4">
						<div class="feature">
							<div class="icon">
								<img src="{% static 'images/truck.svg' %}" alt="Image" class="imf-fluid">
							</div>
							<h3>Fast &amp; Free Shipping</h3>
							
						</div>
					</div>
					

					<div class="col-6 col-md-6 col-lg-3 mb-4">
						<div class="feature">
							<div class="icon">
								<img src="{% static 'images/bag.svg' %}" alt="Image" class="imf-fluid">
							</div>
							<h3>Easy to Shop</h3>
						</div>
					</div>

					<div class="col-6 col-md-6 col-lg-3 mb-4">
						<div class="feature">
							<div class="icon">
								<img src="{% static 'images/support.svg' %}" alt="Image" class="imf-fluid">
							</div>
							<h3>24/7 Support</h3>
						</div>
					</div>

					<div class="col-6 col-md-6 col-lg-3 mb-4">
						<div class="feature">
							<div class="icon">
								<img src="{% static 'images/return.svg' %}" alt="Image" class="imf-fluid">
							</div>
							<h3>Hassle Free Returns</h3>
						</div>
					</div>


				</div>
			
			</div>
		</div>
		-->
		 
		
		<!--<div class="we-help-section" style="padding-bottom: 2rem;">
			<div class="container">
				<div class="row justify-content-between">
					<div class="col-lg-7 mb-5 mb-lg-0">
						<div class="imgs-grid">
							<div class="grid grid-1"><img src="{% static 'images/store-1.jpg' %}" alt="Untree.co"></div>
							<div class="grid grid-2"><img src="{% static 'images/store-9.png' %}" alt="Untree.co"></div>
							<div class="grid grid-3"><img src="{% static 'images/store-5.jpg' %}" alt="Untree.co"></div>
						</div>
					</div>
					<div class="col-lg-5 ps-lg-5">
						<h2 class="section-title mb-4">Designs That Define Your Space.</h2>
						<p>Discover furniture that blends function with beauty.From sleek storage to statement seating — crafted for comfort, built to last, and designed to elevate every room.</p>

						<ul class="list-unstyled custom-list my-4">
							<li>Premium craftsmanship & timeless quality</li>
							<li>Collections for every room and every style</li>
							<li>Custom sizes & finishes to suit your space</li>
							<li>Hassle-free delivery and easy returns</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		-->



		<!-- Start Popular Product
		<div class="popular-product">
			<div class="container">
				<div class="row">

					<div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
						<div class="product-item-sm d-flex">
							<div class="thumbnail">
								<img src="images/product-1.png" alt="Image" class="img-fluid">
							</div>
							<div class="pt-3">
								<h3>Nordic Chair</h3>
								<p>Donec facilisis quam ut purus rutrum lobortis. Donec vitae odio </p>
								<p><a href="#">Read More</a></p>
							</div>
						</div>
					</div>

					<div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
						<div class="product-item-sm d-flex">
							<div class="thumbnail">
								<img src="images/product-2.png" alt="Image" class="img-fluid">
							</div>
							<div class="pt-3">
								<h3>Kruzo Aero Chair</h3>
								<p>Donec facilisis quam ut purus rutrum lobortis. Donec vitae odio </p>
								<p><a href="#">Read More</a></p>
							</div>
						</div>
					</div>

					<div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
						<div class="product-item-sm d-flex">
							<div class="thumbnail">
								<img src="images/product-3.png" alt="Image" class="img-fluid">
							</div>
							<div class="pt-3">
								<h3>Ergonomic Chair</h3>
								<p>Donec facilisis quam ut purus rutrum lobortis. Donec vitae odio </p>
								<p><a href="#">Read More</a></p>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div> */
		End Popular Product -->

<div class="about-us">
<div class="left-about">
<h4>Evrything you need at one place</h4>
<h4 style="font-weight: bold;">About Module Furnitures</h4>
<p>Module Furnitures is a designer furniture gallery rooted in India<br> with operations across the world. Along with the exclusive Modular<br> furniture, we supply exquisite interior décor items from the best<br> brands in the world.</p>
<p style="padding-top:10px"><a href="{% url 'aboutus' %}" class="btn">Read More</a></p>
</div>
<div class="right-about">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/lNn0uMcwfGw?autoplay=1&mute=1&loop=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>
</div>



		<!-- Start Testimonial Slider -->
		<div class="testimonial-section">
			<div class="container">
				<div class="row">
					<div class="col-lg-7 mx-auto text-center">
						<h2 class="section-title">Testimonials</h2>
					</div>
				</div>

				<div class="row justify-content-center">
					<div class="col-lg-12">
						<div class="testimonial-slider-wrap text-center">

							<div id="testimonial-nav">
								<span class="prev" data-controls="prev"><span class="fa fa-chevron-left"></span></span>
								<span class="next" data-controls="next"><span class="fa fa-chevron-right"></span></span>
							</div>

							<div class="testimonial-slider">
								{% for testimonial in testimonials %}
								<div class="item">
									<div class="row justify-content-center">
										<div class="col-lg-8 mx-auto">
											<div class="testimonial-block text-center">
												<blockquote class="mb-5">
													<p>&ldquo;{{testimonial.content}}&rdquo;</p>
												</blockquote>
												<div class="author-info">
													<div class="author-pic">
														<img src="{{testimonial.img.url}}" alt="Maria Jones" class="img-fluid">
													</div>
													<h3 class="font-weight-bold">{{testimonial.name}}</h3>
												</div>
											</div>
										</div>
									</div>
								</div> 
								{% endfor %}
								<!-- END item -->
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>

    <div class="customer-choice">
  <div class="choices">
    <div style="display: flex; flex-direction: column; align-items: center; justify-content: center; text-align: center;">
  <img src="{% static 'images/experiance.png' %}" class="choice-image" alt="Happy Customers">
</div>

  </div>
  <div class="choices">
    <div style="display: flex; flex-direction: column; align-items: center; justify-content: center; text-align: center;">
  <img src="{% static 'images/customers.png' %}" class="choice-image" alt="Happy Customers">
</div>
</div>
   <div class="choices">
    <div style="display: flex; flex-direction: column; align-items: center; justify-content: center; text-align: center;">
  <img src="{% static 'images/warranty.png' %}" class="choice-image" alt="Happy Customers">
</div>

  </div>
  <div class="choices">
    <div style="display: flex; flex-direction: column; align-items: center; justify-content: center; text-align: center;">
  <img src="{% static 'images/market.png' %}" class="choice-image" alt="Happy Customers">
</div>

  </div>
  </div>


<style>
.about-us {
  display: flex;
  align-content: center;
  padding: 50px;
  justify-content: space-around;
  gap: 0px;
  
  padding-left: 50px;
}
.left-about {
  display: flex;
  color: black;
  flex-direction: column;
}
.right-about {
  padding-right: 0px;
  
}
</style>


<section class="py-5" id="detailed-description">
  <div class="container">
    <h2 style="font-weight: bold;">The Best Furniture Stores In Kochi With Exceptional Shopping Experience And Diverse Collections</h2>
    <p>A visit to a furniture store can be an enchanting experience. From the moment you step inside, the aroma of wood and the sight of exquisitely crafted furniture captivate your senses. This is precisely what awaits you at Module Furniture's stores in Kochi. Our store showcases a vast selection of furniture arranged in mock room setups, helping you visualise how each piece would enhance your home. What distinguishes our store from other furniture shops in Kochi is our approachable and expert staff. Our team is always ready to address any questions or concerns, ensuring you find the perfect piece. The opportunity to see, touch, and test furniture in person before purchasing is a key highlight of our shopping experience. If you're seeking elegant and functional furniture designs, visit the premier furniture shops in Kochi at Module Furniture. We are confident our collection will elevate your home and surpass your expectations in remarkable ways.</p>
  </div>
</section>


<section class="py-5" id="faqs">
  <div class="container">
    <h2 class="mb-4 text-center">Frequently Asked Questions</h2>
    <div class="accordion" id="faqAccordion">
      <div class="accordion-item">
        <h2 class="accordion-header" id="faq1">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1">
            Where is our shop located?
          </button>
        </h2>
        <div id="collapse1" class="accordion-collapse collapse show" data-bs-parent="#faqAccordion">
          <div class="accordion-body">
            Module Furnitures has a store in <a href="https://maps.app.goo.gl/QUqA8KYGxMWnHuRh7">Valavanadu, Mararikulam, Kerala 688522</a> and at <a href="https://maps.app.goo.gl/4RALF3jt4C3Ma1X59">Irumpanam, Kochi, Kerala 682309</a>
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="faq2">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapse2">
            Can I customize a piece of furniture?
          </button>
        </h2>
        <div id="collapse2" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
          <div class="accordion-body">
            Yes! We offer customization on select pieces, including fabric,
            color, and finish options. <a href="{% url 'contactus' %}">Contact our team for more info.</a>
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="faq3">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapse3">
            Do you offer delivery and installation?
          </button>
        </h2>
        <div id="collapse3" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
          <div class="accordion-body">
            Yes, we provide safe and timely delivery, and professional
            installation is available for all major purchases.
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="faq4">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapse4">
            What is your return policy?
          </button>
        </h2>
        <div id="collapse4" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
          <div class="accordion-body">
            We accept returns within 7 days of delivery on unused, undamaged
            items. Custom furniture is not returnable unless defective.
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="faq5">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapse5">
            How long does delivery take?
          </button>
        </h2>
        <div id="collapse5" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
          <div class="accordion-body">
            Delivery times vary based on location and product availability. On
            average, 7–14 business days for in-stock items.
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="faq6">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapse6">
            Do you offer warranties?
          </button>
        </h2>
        <div id="collapse6" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
          <div class="accordion-body">
            Most of our furniture comes with a 1-year warranty covering
            manufacturing defects.
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="faq7">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapse7">
            Is financing available?
          </button>
        </h2>
        <div id="collapse7" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
          <div class="accordion-body">
            Yes, we offer financing through our trusted partners. You can opt
            for easy EMI plans at the payment gateway.
          </div>
        </div>
      </div>

	   <div class="accordion-item">
        <h2 class="accordion-header" id="faq10">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapse10">
            What are the payment options?
          </button>
        </h2>
        <div id="collapse10" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
          <div class="accordion-body">
            We accept online payment, wallets, upi and cards through razorpay.
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="faq8">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapse8">
            Are there any ongoing discounts?
          </button>
        </h2>
        <div id="collapse8" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
          <div class="accordion-body">
            We frequently run discounts for festivals and specific payment methods, check our website or call or visit one our showrooms
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="faq9">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapse9">
            Can I track my order?
          </button>
        </h2>
        <div id="collapse9" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
          <div class="accordion-body">
            Yes! Once your order is shipped, you’ll receive a tracking link via
            email and SMS or you can go to profile section where you can track the order using the order no and your email.
          </div>
        </div>
      </div>

     
    </div>
  </div>
</section>

<div class="blog-section">
			<div class="container">
				<div class="row mb-5">
					<div class="col-md-6">
						<h2 class="section-title">Recent Blogs</h2>
					</div>
					<div class="col-md-6 text-start text-md-end">
						<a href="{% url 'blogs' %}" class="more">View All Posts</a>
					</div>
				</div>

				<div class="row">

					<div class="col-12 col-sm-6 col-md-4 mb-4 mb-md-0">
						<div class="post-entry">
							<a href="{% url 'indiv_blogs' %}" class="post-thumbnail"><img src="{% static 'images/post-1.jpg' %}" alt="Image" class="img-fluid"></a>
							<div class="post-content-entry">
								<h3><a href="{% url 'indiv_blogs' %}">First Time Home Owner Ideas</a></h3>
								<div class="meta">
									<span>by <a href="{% url 'indiv_blogs' %}">Kristin Watson</a></span> <span>on <a href="{% url 'indiv_blogs' %}">Dec 19, 2021</a></span>
								</div>
							</div>
						</div>
					</div>

					<div class="col-12 col-sm-6 col-md-4 mb-4 mb-md-0">
						<div class="post-entry">
							<a href="{% url 'indiv_blogs' %}" class="post-thumbnail"><img src="{% static 'images/post-2.jpg' %}" alt="Image" class="img-fluid"></a>
							<div class="post-content-entry">
								<h3><a href="{% url 'indiv_blogs' %}">How To Keep Your Furniture Clean</a></h3>
								<div class="meta">
									<span>by <a href="{% url 'indiv_blogs' %}">Robert Fox</a></span> <span>on <a href="{% url 'indiv_blogs' %}">Dec 15, 2021</a></span>
								</div>
							</div>
						</div>
					</div>

					<div class="col-12 col-sm-6 col-md-4 mb-4 mb-md-0">
						<div class="post-entry">
							<a href="{% url 'indiv_blogs' %}" class="post-thumbnail"><img src="{% static 'images/post-3.jpg' %}" alt="Image" class="img-fluid"></a>
							<div class="post-content-entry">
								<h3><a href="{% url 'indiv_blogs' %}">Small Space Furniture Apartment Ideas</a></h3>
								<div class="meta">
									<span>by <a href="{% url 'indiv_blogs' %}">Kristin Watson</a></span> <span>on <a href="{% url 'indiv_blogs' %}">Dec 12, 2021</a></span>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
</div>


<style>
  #offer-loader {
    display: none;
		position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(10, 10, 10, 0.8);
    z-index: 9999;
    justify-content: center;
    align-items: center;
  }

  .offer-body {
    display: flex;
    height: 500px;
    width: 900px;
  }

  #offer-image {
    height: 500px;
    width: 500px;
    align-self: center;

  }

  .offer-form {
    background-color: rgb(224, 212, 204);
    padding: 40px;
  }
  .close-modal {
    display: flex;
    justify-self: flex-end;
    padding-top: 0px;
  }
  
  @media screen and (max-width:764px){
	#offer-image {
		display: none;
	}
  .offer-body {
    width: 300px;
  }
  .offer-form {
    padding: 10px;
  }
}
  
  
</style>


<div id="offer-loader" class="offer-loader">
    <div class="offer-body">
<div class="offer-image">
  <img id="offer-image" src="{% static 'images/offer-slider.webp' %}">
</div>

<div class="offer-form">
  <button class="fa fa-times close-modal" id="close-modal" style="background-color: transparent; border: none;"></button>
  
  <h4 style="font-weight: bold; text-align: center; padding-bottom: 5px;">Reach out to us</h4>
  <p>Get early access to our new offers and explore the diffrent collections of module furnitures</p>
  <form method="post">
    {% csrf_token %}
    <div class="form-group">
                  <label class="text-black" for="firstname">Name</label>
                  <input type="text" class="form-control" id="firstname" name="firstname" required
                    value="{{ form.firstname.value|default:'' }}">
                </div>
   <div class="form-group">
              <label class="text-black" for="phno">Phone Number</label>
              <input type="tel" class="form-control" id="phno" name="phone" required value="{{ form.phone.value|default:'' }}">
            </div>

            <div class="form-group">
              <label class="text-black" for="email">Email address</label>
              <input type="email" class="form-control" id="email" name="email" required
                value="{{ form.email.value|default:'' }}">
            </div>
    <button type="submit" onclick="getBack()" class="btn btn-primary-hover-outline" style="margin-top: 20px;">Send Message</button>
              </div>
  </form>
</div>
</div>

		
<script>

  
  const carouselInner = document.getElementById('carouselInner');
  const slides = carouselInner.children;
  let currentIndex = 0;
  const totalSlides = slides.length;

  function showSlide(index) {
    const offset = -index * 100; // shift by 100% per slide
    carouselInner.style.transform = `translateX(${offset}%)`;
  }

  function nextSlide() {
    currentIndex = (currentIndex + 1) % totalSlides;
    showSlide(currentIndex);
  }

  // Auto-slide every 3 seconds
  setInterval(nextSlide, 3000);

  // Initialize first slide
  showSlide(currentIndex);
function scrollProducts(direction) {
  const container = document.getElementById("scrollProducts");
  const scrollAmount = 300; // adjust this for scroll distance per click
  container.scrollBy({
    left: direction * scrollAmount,
    behavior: 'smooth'
  });
}
  
</script>



{% endblock content %}
