{% extends 'main.html' %}
{% block content %}
{% load static %}
<section class="py-5 bg-light" style="margin-top: 10px">
  <div class="container">
    <h2 class="mb-4 text-primary fw-bold text-center">
      Purchase and Returns
    </h2>
    <p class="mb-2 text-muted">
     We offer a 14-Day Return Policy for all products.<br>
Returns are accepted only for the following reasons:<br>
Damaged Product<br>
Manufacturing Defect<br>
Incomplete Product<br>
Incorrect Product<br>
The time frame starts from the date the product was delivered as per the confirmation received from our logistics team or courier partners.<br>
Please send us 2 images (one of damaged part and one of the entire product) of the product to ascertain the reason for return which can be initiated from the "contact us" Section or you can send us an email to modulefurnitures@gmail.com
<ul>
    <li>We are responsible for what we sell. If the product is damaged or defective incorrect or incomplete please inform us within 14 days of delivery to be eligible for a 100% replacement/refund.</li>
    <li>We offer hassle-free returns through courier pickup or you can also request a replacement for the non furniture products online at our store. You do not have to bear any courier or shipping charges for returns.</li>
    <li>All products bought online can only be returned in case of manufacturing defects or damaged product delivery or incorrect or incomplete. This needs to be brought to our notice (via phone / email / WhatsApp) within 48 hours from the delivery / assembly date. To return furniture, you can reach us at modulefurnitures@gmail.com , or call us on +91 8129718086</li>
    <li>Any product returned to us should be in the same condition as received in its original packaging, invoice and tags.</li>
<li>If you believe that the merchandise is not in good condition or if the packaging is tampered with or damaged, kindly refuse to accept the delivery and call our Customer Care at +91 8129718086 or e-mail us at modulefurnitures@gmail.com mentioning your order reference number. We shall make our best efforts to ensure that a replacement is done at the earliest.</li>
<li>We do not accept return or exchange of gift vouchers. Cash on Delivery convenience charge is a non-refundable charge. (first we should add that there is a convenience charge)</li>
<li>Module is committed to ensuring your satisfaction with any merchandise you have ordered from us.</li>
</ul>
<h3 class="text-center">
    Cancellation Policy
</h3>
<p>If you change your mind after placing an order, you can cancel the order (or part of the order) within 24 hrs of the order confirmation, or before it is shipped, whichever is earlier. In case you wish to cancel the order post-dispatch, cancellation charges would be applicable.</p>

</section>

{% endblock %}