{% extends 'main.html' %}
{% block content %}
{% load humanize %}

<div class="container py-5">
  <div class="row">
    <!-- LEFT: CART ITEMS -->
    <div class="col-lg-8">
      <div class="card mb-3 p-3">
        <h4 class="mb-3">My Cart ({{ cart_items|length }})</h4>
        <div class="d-flex border-bottom py-3" id="cart_content">
        {% include "furni/cart_list.html" with cart_items=cart_items %}
      </div>
      <a href="{% url 'shop' %}" class="btn btn-outline-dark">← Continue Shopping</a>
    </div>

    <!-- RIGHT: PRICE DETAILS -->
    <div class="col-lg-4" id="total_amount">
        {% include "furni/cart_total.html" with total_amount=total_amount %}
    </div>
  </div>
</div>

<script>
  function changeQuantity(itemId, delta) {
    const qtyInput = document.getElementById(`qty_prod_${itemId}`);
    let currentQty = parseInt(qtyInput.value) || 1;
    currentQty = Math.max(1, currentQty + delta);
    qtyInput.value = currentQty;
    update_Quantity(itemId);
  }
  function getUpdateUrl(item_id) {
    const quantityelement = document.getElementById(`qty_prod_${item_id}`).value;
    return `/update/${item_id}/${quantityelement}/`;
  }
  function update_Quantity(id) {
    const url = getUpdateUrl(id);
    fetch(url, {
      headers: { "X-Requested-With": "XMLHttpRequest" }
    })
      .then(response => response.json())
      .then(data => {
        document.getElementById("cart_content").innerHTML = data.cart_html;
        document.getElementById("total_amount").innerHTML = data.total_html;
      })
  }
</script>
{% endblock %}
