{% extends 'main.html' %}
{% block content %}
{% load static %}
<section class="py-5 bg-light" style="margin-top: 10px;">
  <div class="container">
    <h2 class="mb-4 text-primary fw-bold text-center">Purchase and Returns</h2>
    
    <div class="text-muted">
      <p>
        These <strong>Terms and Conditions (“T&amp;C”)</strong> form an electronic record under the 
        <strong>Information Technology Act, 2000</strong> and applicable rules. This record is generated electronically 
        and does not require physical or digital signatures.
      </p>

      <p>
        Published in accordance with the provisions of the IT Act, these Terms outline the rules, regulations, 
        and privacy policies for accessing or using 
        <a href="https://www.modulefurnitures.com" class="text-decoration-none text-primary">www.modulefurnitures.com</a> 
        (“Website”).
      </p>

      <p>
        Please read these T&amp;C carefully as they set out the terms of a legally binding agreement between 
        <strong>Anand Industries</strong> (“Company”) and you (“User”).  
        Anand Industries is a company incorporated under the Companies Act, 1956, with its registered office at:  
      </p>

      <address class="ps-3 border-start border-3 border-primary">
        1, 1/156A, Anand Industries, Uzhakkode, Arakkunnam P.O,  
        Mulanthuruthy, Ernakulam, Kerala, 682313.
      </address>

      <p>
        By accessing and using this Website, you acknowledge that you have read, understood, and agreed to be bound by these 
        Terms &amp; Conditions, along with any additional terms posted on the Website.  
        Together, they constitute the entire agreement between Anand Industries and you regarding your use of the Website.
      </p>

      <p>
        If you have any questions or require clarification regarding these Terms, you may contact us through the details provided 
        in the <strong>“Contact Us”</strong> section of the Website.
      </p>

      <hr class="my-4">

      <h5 class="fw-semibold text-dark mt-4">Consent to Communication</h5>
      <p>
        By accepting these Terms &amp; Conditions, you consent to receive updates, offers, and campaign-related 
        communications from us. These may be sent via SMS, email, WhatsApp, or other digital platforms to the contact 
        information you have provided.
      </p>

      <p>
        You also explicitly agree to receive such communications even if your contact number is registered under 
        the <strong>DND/NCPR</strong> list as per the <strong>Telecom Commercial Communications Customer Preference 
        Regulations, 2018</strong>. Communications may include service-related messages, new product announcements, 
        or promotional offers from Anand Industries or its authorized representatives.
      </p>
    </div>
  </div>
</section>


{% endblock %}