{% extends 'main.html' %}
{% block content %}
{% load humanize %}

<div class="container py-5">
  <div class="row">
    <!-- LEFT: CART ITEMS -->
    <div class="col-lg-8">
      <div id="wishlist-items">
      {% include 'furni/wishlist_items.html' with wish_items=wish_items %}
      </div>
      <a href="{% url 'shop' %}" class="btn btn-outline-dark">← Continue Shopping</a>
    </div>
  </div>
</div>

<script>
  function changeQuantity(itemId, delta) {
    console.log(itemId)
    const qtyInput = document.getElementById(`qty_prod_${itemId}`);
    let currentQty = parseInt(qtyInput.value) || 1;
    currentQty = Math.max(1, currentQty + delta);
    qtyInput.value = currentQty;
    update_Quantity(itemId);
  }
  function getUpdateUrl(item_id) {
    const quantityelement = document.getElementById(`qty_prod_${item_id}`).value;
    return `update/wishlist/${item_id}/${quantityelement}/`;
  }
  function transferToCart(item_id,qty) {
    const url = `transfer/cart/${item_id}/`;
    fetch(url, {
      headers: { "X-Requested-With": "XMLHttpRequest" }
    })
      .then(response => response.json())
      .then(data => {
        document.getElementById("wishlist-items").innerHTML = data.wishlist_html;
        document.getElementById("quick-cart-page").innerHTML = data.cart_html;
      })
  }
   function update_Quantity(id) {
    const url = getUpdateUrl(id);
    fetch(url, {
      headers: { "X-Requested-With": "XMLHttpRequest" }
    })
      .then(response => response.text())
      .then(html => {
        document.getElementById("wishlist-items").innerHTML = html;
      })
  }
</script>
{% endblock %}
